.MuiTableHead-root {
  tr {
    th {
      border: none;
      color: #2e2e2e;
      background-color: #ffffff;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      border-bottom: 1px solid #e6eff5;
      border-right: 1px solid #e6eff5;

      &:last-child {
        border-right: none;
      }
    }
  }
}

.MuiTableRow-root {
  &:hover {
    background-color: #ffffff !important;
  }

  td {
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #1b1c57;
    border-right: 1px solid #e9eaec;

    &:last-child {
      border: none;
    }
  }
}

.MuiTableContainer-root {
  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 6px;
  }
}

.table-custom-status-container-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .table-custom-status-container {
    height: 24px;
    width: fit-content;
    border-radius: 4px;
    padding: 0 15px;

    span {
      font-size: 12px;
      font-weight: 600;
      line-height: 22px;
    }
  }
}

.table-custom-action-btn-container {
  svg {
    cursor: pointer;
  }
}




.table-custom-head-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  svg{
    cursor: pointer;
  }
}


.table-custom-approval-container{
  display: flex;
  gap: 6px;
  justify-content: center;
  button{
    height: 24px;
    width: 56px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
    background-color: #05CD99;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

}
