.MuiTableHead-root {
  tr {
    th {
      border: none;
      color: #2e2e2e;
      background-color: #ffffff;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      border-bottom: 1px solid #e6eff5;
      border-right: 1px solid #e6eff5;

      &:last-child {
        border-right: none;
      }
    }
  }
}

.view-dsr-table-body {
  .MuiTableRow-root {
    &:hover {
      background-color: #ffffff !important;
    }

    &:last-child{
        td {
            border: none;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #1b1c57;
            border: none;
            border-right: 1px solid #e9eaec;
            border-bottom: none;
            text-align: center;
            vertical-align:top;
            &:last-child{
              border: none;
            }
          }
    }

    td {
      border: none;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #1b1c57;
      border: none;
      border-right: 1px solid #e9eaec;
      border-bottom: 1px solid #e9eaec;
      text-align: center;
      vertical-align:top;
      &:last-child{
        border: none;
      }
    }
  }
}

.MuiTableContainer-root {
  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 6px;
  }
}

.view-dsr-table-status-container-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .view-dsr-table-status-container {
    height: 26px;
    width: 84px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;


    span {
      font-size: 12px;
      font-weight: 600;
      line-height: 22px;
    }
  }
  .view-dsr-table-status-container.approved{
    border: 1px solid #0B9F57;
    background-color: #E7F7EF;

    span{
        color: #0B9F57;
    }
  }
  .view-dsr-table-status-container.pending{
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #FFFAE9;

    span{
        color: #E8BD20;
    }
  }
}

.view-dsr-table-action-btn-container {
  svg {
    cursor: pointer;
  }
  .MuiButtonBase-root {
    height: 24px;
    padding: 0;
  }
}

.view-dsr-table-head-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  svg {
    cursor: pointer;
  }
}

.view-dsr-table-approval-container {
  display: flex;
  gap: 6px;
  justify-content: center;
  button {
    height: 24px;
    width: 56px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
    background-color: #05cd99;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  .rollbackBtn-btn {
    background-color: rgba(0, 109, 132, 0.6);
    width: 118px;
  }
}



.view-dsr-table-dsr-para{
    max-width: 760px;
    max-height: 162px;
    overflow-y: auto;
    padding-right: 10px;

    &::-webkit-scrollbar {
        width: 3px;
      }
    
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
    
      &::-webkit-scrollbar-thumb {
        background: rgba(157, 182, 225, 0.6);
        border-radius: 6px;
      }

}

.view-dsr-table-project-name{
    display: flex;
    flex-direction: column !important;
    gap: 10px;
}
