.dialog-main-container {
  background: #fff;

  .cross-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    border-bottom: 1px solid #E6EFF5;
    padding: 0 25px;

    h4{
      color: #007BFF;
      font-size: 18px;
      font-weight: 700;
    }

    .dialog-box-cross-icon{
      height: 24px;
      width: 24px;
      background-color: #E5E5E5;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }


  }


  .dialog-content-box {
    padding-bottom: 50px;

    .custom-dialog-list-item{
      width: 100%;

      border-bottom: 1px solid #E6EFF5;
      display: flex;
      padding: 20px 45px;
      gap: 30px;

      span{
        width: 200px;
        color: #919499;
        font-size: 14px;
        line-height: 16px;
        font-weight: 600;
      }
      p{
        color: #2E2E2E;
        font-size: 14px;
        line-height: 16px;
        font-weight: 600;
        text-align: justify;
        width: calc(100% - 200px);
      }
    }
  }
}



.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthXs.MuiDialog-paperFullWidth{
  width: unset;
}



.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthMd.MuiDialog-paperFullWidth{
  border-radius: 10px;
}
