.change-password-container{
    padding: 15px 20px;

    h4{
        color: #007BFF;
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
    }

    .change-password-form-container{
        margin-top: 45px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .change-password-input-field{
            display: flex;
            flex-direction: column;
            gap: 8px;
            label{
                color: #111827;
                font-size: 14px;
                font-weight: 600;
            }

            .MuiInputBase-root{
                max-width: 469px;
            }
            

        }

        .change-password-save-btn{
            width: 96px;
            height: 40px;
            margin-top: 10px;
            border: none;
            background-color: #219653;
            border-radius: 4px;
            color: #FFFFFF;
            font-size: 14px;
            line-height: 22px;
            font-weight: 600;
            cursor: pointer;
        }
    }
}