.mainLayout-container{
    display: flex;

    .main-container{
        width: calc(100% - 260px);
        height: auto;
        display: flex;
        flex-direction: column;
        

        .mainLayout-main-content{
            width: 100%;
            background: #FFFFFF;
            overflow-y: auto;
        }
    }
}