.mainLayout-container{
    display: flex;

    .main-container{
        width: calc(100% - 260px);
        height: 100vh;
        display: flex;
        flex-direction: column;
        

        .mainLayout-main-content{
            width: 100%;
            height: calc(100vh - 84px);
            background: #FFFFFF;
            overflow-y: auto !important;
        }
    }
}