.MuiPagination-root {
  ul {
    li {
      &:first-child {
        button {
          background-color: #ffffff;
          border-radius: 8px;
          border: 1px solid #e6eff5;
        }
      }
      &:last-child {
        button {
          background-color: #ffffff;
          border-radius: 8px;
          border: 1px solid #e6eff5;
        }
      }

      .Mui-selected {
        background-color: #007bff;
        border-radius: 8px;
        border: none;

        color: #ffffff;

        &:hover{
          background-color:#007bff;
        }
      }

      button {
        border: none;
      }
    }
  }
}

.MuiButtonBase-root.MuiPaginationItem-root {
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #e6eff5;
}
