.filter-table-limit-container {
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiMenu-paper.MuiPopover-paper.MuiMenu-paper {
    ul {
      padding: 0;
      margin: 0;

      li {
        border-top: 1px solid #e0e4e9;
        background-color: #fff;
        color: #232323;
        font-family: Poppins;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-left: 1.5rem;
      }
    }
  }

  .MuiSelect-select.MuiSelect-outlined.MuiInputBase-input.MuiOutlinedInput-input {
    color: #404040;
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0;
  }

  .dropdown-svg-rotate-2 {
    transform: rotate(180deg);
  }

  .dropdown-svg-rotate {
    cursor: pointer;
    margin-right: 10px;
  }

  .dropdown-label {
    font-size: 12px !important;
    line-height: 16px !important;
    color: #1B1C57 !important;
    font-weight: 400 !important;
    margin-top: -9px;
  }

  .MuiOutlinedInput-notchedOutline{
    border: 1px solid #D5D5D5 !important;
    border-radius: 4px;
  }
}
