.MuiInputBase-root {
  height: 46px;
  border-radius: 8px !important;

  input {
    padding: 0 20px;

    &::placeholder{
      color: #919499;
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
      opacity: 1;
    }
  }
}

.MuiFormControl-root {
  width: 100%;
}


.MuiOutlinedInput-notchedOutline{
  border-color:#E9CFFF !important ;
}