.search-custom {
  .MuiOutlinedInput-notchedOutline {
    border: none !important;
  }

  .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-sizeSmall.MuiInputBase-adornedStart {
    padding-left: 11px;
  }

  .MuiInputBase-root input {
    padding: 0;
    color: #1B1C57;
    font-size: 14px;
    font-weight: 400;
  }
}
