.employee-edit-basic-detail-form-container-wrapper {
    width: 100%;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
    .employee-edit-basic-detail-container {
      background-color: rgba(0, 123, 255, 0.06);
      width: 100%;
      border-radius: 10px;
      padding: 30px 40px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-bottom: 50px;

      .employee-edit-basic-detail-row {
        display: flex;
        column-gap: 35px;
        row-gap: 30px;
        flex-wrap: wrap;

        .employee-edit-basic-detail-field {
          display: flex;
          flex-direction: column;
          gap: 8px;
          min-width: 232px;
          width: calc((100% - 70px) / 3);

          @media screen and (max-width: 1401px) {
            width: calc((100% - 35px) / 2);
          }
          @media screen and (max-width: 1134px) {
            width: 100%;
          }

          .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary {
            background-color: #ffffff;

            input {
              &::placeholder {
                color: #919499;
                font-size: 14px;
                line-height: 16px;
                font-weight: 400;
                opacity: 1;
              }
            }
          }

          p {
            color: #111827;
            font-size: 14px;
            font-weight: 600;
          }

          .add-employee-form-input-tag {
            padding: 0 20px;
            height: 46px;
            border: 1px solid #e9cfff;
            border-radius: 8px;
            outline: none;
            font-size: 14px;
            font-weight: 500;
            color: #212121;

            &::placeholder {
              color: #919499;
              font-size: 14px;
              line-height: 16px;
              font-weight: 400;
            }
          }

          .employee-edit-basic-detail-checkbox {
            margin-top: 15px;
            display: flex;
            column-gap: 50px;
            row-gap: 10px;
            flex-wrap: wrap;

            .MuiFormControlLabel-root {
              margin: 0;
            }

            .MuiTypography-root {
              color: #787c82;
              font-size: 14px;
              font-weight: 600;
            }
          }
        }

        .employee-edit-address-field {
          width: calc((100% - 470px));

          @media screen and (max-width: 1401px) {
            width: calc((100% - 35px) / 2);
          }
          @media screen and (max-width: 1134px) {
            width: 100%;
          }
        }

        .employee-edit-basic-detail-field-checkbox {
          width: 100%;
        }
      }
    }
  }




  .edit-employee-save-btn{
    height: 40px;
    width: 96px;
    background-color: #219653;
    border: none;
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    margin-top: 20px;
    cursor: pointer;
  }