.add-leave-main-container {
  padding: 10px;
  height: calc(100vh - 84px);
  background-color: #f4efff;

  .add-leave-all-leaves-container {
    display: flex;
    column-gap: 20px;
    row-gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  .add-leave-main-wrapper {
    width: 100%;

    .add-leave-top-btn-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      background-color: #ffffff;
      border-radius: 10px 10px 0 0;
      padding: 0 20px;
      border-bottom: 1px solid #e6eff5;

      h4 {
        color: #007bff;
        font-weight: 700;
        font-size: 18px;
      }
      .add-new-employee-btns {
        display: flex;
        gap: 20px;

        button {
          width: 96px;
          height: 40px;
          border: none;
          border-radius: 4px;
          background-color: #219653;
          color: #ffffff;
          font-size: 16px;
          font-weight: 600;
          line-height: 22px;
          cursor: pointer;
          &:last-child {
            background-color: rgba(220, 38, 38, 0.1);
            color: #dc2626;
          }
        }
      }
    }

    .add-leave-form-container-wrapper {
      width: 100%;
      padding: 20px;
      background-color: #ffffff;
      border-radius: 0 0 10px 10px;
      .add-leave-form-container {
        background-color: rgba(0, 123, 255, 0.06);
        width: 100%;
        border-radius: 10px;
        padding: 30px 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 75px;

        .add-leave-form-row {
          display: flex;
          column-gap: 35px;
          row-gap: 30px;
          flex-wrap: wrap;

          .add-leave-form-field {
            display: flex;
            flex-direction: column;
            gap: 8px;
            min-width: 232px;
            width: calc((100% - 105px) / 4);

            .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary {
              background-color: #ffffff;

              input {
                &::placeholder {
                  color: #919499;
                  font-size: 14px;
                  line-height: 16px;
                  font-weight: 400;
                  opacity: 1;
                }
              }
            }

            p {
              color: #111827;
              font-size: 14px;
              font-weight: 600;
            }

            .add-employee-form-input-tag {
              padding: 0 20px;
              height: 46px;
              border: 1px solid #e9cfff;
              border-radius: 8px;
              outline: none;
              font-size: 14px;
              font-weight: 500;
              color: #212121;

              &::placeholder {
                color: #919499;
                font-size: 14px;
                line-height: 16px;
                font-weight: 400;
              }
            }

            .add-leave-form-checkbox {
              margin-top: 15px;
              display: flex;
              gap: 50px;

              .MuiFormControlLabel-root {
                margin: 0;
              }

              .MuiTypography-root {
                color: #787c82;
                font-size: 14px;
                font-weight: 600;
              }
            }
          }

          .add-leave-form-field-second {
            width: calc((100% - 35px) / 2);
          }

          .add-leave-field-container-wrapper {
            display: flex;
          }

          .add-leave-form-field-textarea {
            width: 100%;
            textarea {
              border: 1px solid #e9cfff;
              height: 93px;
              border-radius: 8px;
              outline: none;
              padding: 15px 10px;

              &::placeholder {
                color: #919499;
                font-size: 14px;
                line-height: 16px;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }
}

.add-leave-checkbox-field {
  .MuiFormGroup-root.MuiFormGroup-row {
    height: 30px;

    .MuiFormControlLabel-root.MuiFormControlLabel-labelPlacementEnd {
      height: 100%;

      .MuiTypography-root {
        color: #111827;
        font-size: 12px;
        font-weight: 400;
      }
    }
  }

  .MuiButtonBase-root.MuiCheckbox-root.MuiCheckbox-colorPrimary.MuiCheckbox-sizeMedium.PrivateSwitchBase-root.MuiCheckbox-root.MuiCheckbox-colorPrimary.MuiCheckbox-sizeMedium.MuiCheckbox-root.MuiCheckbox-colorPrimary.MuiCheckbox-sizeMedium {
    padding: unset;
    padding-left: 10px;
    &:hover {
      background-color: unset;
    }
  }

  .MuiFormControlLabel-root.MuiFormControlLabel-labelPlacementEnd {
    width: 32px;
  }
}
